* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

:root{
    --background: #292526;
}

body {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background-image: url(/assets/bg.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    background-color: var(--background);
    position: fixed;
    width: 100vw;
    text-align: center;
    z-index: 999;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8EEF4;
    font-family: 'Medula One', cursive;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo img{
    padding: 0;
    height: 3rem;
    width: 3rem;
}

.simple-navbar { 
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100vw;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0; 
    left: 0; 
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after { 
    display: block;
    background-color: #E8EEF4;
    height: 1px;
    border-radius: 20%;
    width: 1.5em;
    position: relative;
} 

.nav-toggle-label span::before,
.nav-toggle-label span::after { 
    content: '';
    position: absolute;
} 

.nav-toggle-label span::before{ 
    bottom: 10px;
} 
.nav-toggle-label span::after{ 
    top: 10px;
} 

.nav-toggle:checked ~ .simple-navbar{
    transform: scale(1,1);
}

.nav-toggle:checked ~ .simple-navbar a{
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
}

.simple-navbar ul { 
    list-style: none;
}

.simple-navbar li { 
    margin-left: 1em;
    margin-bottom: 1em;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
}

.simple-navbar a {
    color: #E8EEF4;
    text-decoration: none;
    /* text-transform: uppercase; */
    text-size-adjust: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out ;
}

.intro { 
    display: flex;
    flex-direction: row;
    width:100vw;
    padding-top: 20vh;
    display: flex;
    flex-direction: row-reverse;
}


.pp {
    position: relative;
    bottom: 13vh;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.pp img {
    position: relative;
    border-radius: 100%;
    /* height: 20rem;
    width: 20rem; */
    height: auto;
    width: auto;
    z-index: 100;
}

.intro-text { 
    overflow:hidden;
    z-index: 1;
    display: flex;
    height: minmax(min-content, 30vh);
    position: relative;
    bottom: 20vh;
    left: 2vw;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start; 
    background-color: #292526;
    padding: 3rem;
    padding-right: 0;
    border-radius: 2rem;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;   
    flex-shrink: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.text {
    flex-shrink: 0;
    white-space: nowrap;
}

.text span{
    color: #9A38FC;
    white-space: nowrap;
}


/* DESKTOP */

@media screen and (min-width: 800px) { 
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        width: 100vw;
        overflow: hidden;
        grid-template-columns: auto 1fr   1fr minmax(600px, 3fr);
    }

    .logo {
        grid-column: 1/ 2; 
    }

    .simple-navbar {
        all: unset; 
        grid-column: 4 / 5; 
        padding-right: 2vw;
        display: flex; 
        justify-content: flex-end;
        align-items: center;
    }

    .simple-navbar ul {
        display: flex;
    }

    .simple-navbar li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .simple-navbar a {
        opacity: 1;
        position: relative;
    }

    .simple-navbar a::before{
        content: '';
        opacity: 1;
        display: block;
        height: 1px;
        background-color: #E8EEF4;
        position: absolute;
        bottom: 1.5em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    .simple-navbar a:hover::before {
        transform: scale(1,1);
    }

    .logo{
        display: flex; 
        flex-direction: row;
        justify-content: flex-end;
        font-size: 3rem;
        color: #E8EEF4;
    }
    
    .logo img{
        padding: 0;
        height: 6rem;
        width: 6rem;
    }

    .intro { 
        display: flex;
        flex-direction: row-reverse;
        width:100vw;
        padding-top: 30vh;
        display: flex;
        flex-direction: row-reverse;
    }


    .pp {
        position: relative;
        bottom: 13vh;
        display: flex; 
        flex-direction: row-reverse;
    }

    .pp img {
        position: relative;
        border-radius: 100%;
        /* height: 20rem;
        width: 20rem; */
        height: auto;
        width: auto;
        z-index: 100;
    }
    .intro-text { 
        z-index: 1;
        display: flex;
        height: minmax(min-content, 30vh);
        position: relative;
        bottom: 33vh;
        left: 2vw;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start; 
        background-color: #292526;
        padding: 3rem;
        padding-right: 20rem;
        border-radius: 2rem;
        color: white;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 3.5rem;
        font-weight: 900;   
    }
}